body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .nav {
        display: flex;
        justify-content: space-between;
        background-color: #242323;
        color: #ffff;
        padding: 0 1rem;
      }
      .nav ul {
        display: flex;
        list-style-type: none;
      }
      .nav ul li {
        margin: 0 10px;
        padding: 0 10px;
      }
      .nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        transition: all ease 0.4s;
      }
      .nav ul li a:hover {
        color: #f0ac45;
      }
      .main-content {
        padding: 2rem 1rem;
        max-width: 800px;
        margin: 0 auto;
      }
      .main-content h1 {
        color: #f0ac45;
      }
      .main-content h2 {
        text-align: center;
        color: #f0ac45;
      }
      .main-content p, .main-content ul {
        line-height: 1.6
      }
      .image-section {
        flex-shrink: 0;
      }
      .image-section img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }
      .container {
        display: flex;
        justify-content: center;
      }
      .container div {
        margin: 10px;
        flex: 1;
        max-width: 250px;
      }
      .container img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        transition: transform 0.3s ease;
      }
      .container img:hover {
        transform: scale(1.1);
      }
      .new-section {
        display: flex;
        align-items: flex-start;
        margin-top: 2rem;
        gap: 2rem;
      }
      .image-placeholder {
        flex: 1;
      }
      .image-placeholder img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
      .text-content {
        flex: 2;
      }
      footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #242323;
        color: #fff;
        padding: 0 1rem;
        margin-top: 2rem;
      }
      .footer-left {
        flex: 1;
      }
      .footer-right {
        flex: 1;
      }
      .footer-right ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
      }
      .footer-right ul li {
        margin: 0 10px;
        padding: 0 10px;
      }
      .footer-right ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        transition: all ease 0.4s;
      }
      .footer-right ul li a:hover {
        color: #f0ac45;
      }
      .footer-copyright {
        margin: 0;
        font-size: 14px;
      }
